logs/.DS_Store
logs/
logs/12-04-2022_(09:54:00)_beta_1/mutins.csv
logs/12-04-2022_(09:54:00)_beta_1/Mutual_information_by_connecting_time_frames_beta_1.png
logs/12-04-2022_(09:54:00)_beta_1/probs.csv
logs/12-04-2022_(10:31:17)_beta_1/mutins.csv
logs/12-04-2022_(10:31:17)_beta_1/Mutual_information_by_connecting_time_frames_beta_1.png
logs/12-04-2022_(10:31:17)_beta_1/probs.csv
logs/22-04-2022_(12:49:23)_different_betas/Mutual_information_by_connecting_time_frames_beta_1.9000000000000004.png
logs/22-04-2022_(13:27:48)_different_betas/Mutual_information_by_connecting_time_frames_beta_1.8.png
logs/22-04-2022_(13:29:39)_different_betas/Mutual_information_by_connecting_time_frames_beta_1.8.png
logs/22-04-2022_(13:30:05)_different_betas/Mutual_information_by_connecting_time_frames_beta_1.9000000000000004.png
logs/22-04-2022_(16:29:38)_different_inputs/Mutual_information_by_connecting_time_frames_beta_1.png
logs/22-04-2022_(16:31:05)_different_inputs/Mutual_information_by_connecting_time_frames_beta_1.png
logs/22-04-2022_(16:33:08)_different_inputs/Mutual_information_by_connecting_time_frames_beta_0.1.png
logs/22-04-2022_(16:34:05)_different_inputs/Mutual_information_by_connecting_time_frames_beta_50.png
logs/22-04-2022_(16:34:34)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.png
logs/22-04-2022_(16:35:27)_different_inputs/Mutual_information_by_connecting_time_frames_beta_5.png
logs/22-04-2022_(16:36:23)_different_inputs/Mutual_information_by_connecting_time_frames_beta_0.1.png
logs/22-04-2022_(16:42:43)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10000000000.0.png
logs/22-04-2022_(16:45:19)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(16:47:00)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(16:47:23)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(16:47:59)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(16:58:29)_different_inputs/Mutual_information_by_connecting_time_frames_beta_0.1.png
logs/22-04-2022_(16:58:54)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(17:00:49)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(17:27:40)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
logs/22-04-2022_(17:54:52)_different_inputs/Mutual_information_by_connecting_time_frames_beta_10.0.png
